<p>Mais recomentado pela comunidade Angular por utilizar internamente Observables</p>
<br/>
<hr/>

<form class="form-horizontal" 
    [formGroup]="formulario"
    (ngSubmit)="onSubmit()">
    
    <div class="form-group">
        <div class="col-md-12">
            <label for="nome">Nome</label>
        </div>
        
        <div class="col-md-12">            
            <input type="text" class="form-control" id="nome" required min="3"
                placeholder="Insira o nome" formControlName="nome">
        </div>
    </div>    

    <div class="form-group">
        <div class="col-md-12">
            <label for="email">Email</label>
        </div>
        
        <div class="col-md-12">            
            <input type="text" class="form-control" id="email" required email
                placeholder="Insira o email" formControlName="email">
        </div>
    </div>    

    <button type="submit" class="btn btn-primary btn-rounded">Submit</button>

    <app-form-debug [form]="formulario"></app-form-debug>

</form>