<p>Mais recomentado pela comunidade Angular por utilizar internamente Observables</p>
<hr/>

<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    
    <div class="form-group" [ngClass]="aplicaCssErro('nome')">
        <div class="col-md-12">
            <label for="nome" class="control-label">Nome</label>
        </div>
        
        <div class="col-md-12">            
            <input type="text" class="form-control" id="nome"
                placeholder="Insira o nome" formControlName="nome">
            
            <app-campo-control-erro
                [mostrarErro]="verificaRequired('nome')"
                msgErro="O campo Nome é obrigatório." >
            </app-campo-control-erro>

            <app-campo-control-erro
                [mostrarErro]="verificaMinlength('nome')"
                msgErro="O campo deve ter no mínimo 3 caracteres." >
            </app-campo-control-erro>
        </div>

    </div>    

    <div class="form-group" [ngClass]="aplicaCssErro('email')">
        <div class="col-md-12">
            <label for="email" class="control-label">Email</label>
        </div>
        
        <div class="col-md-12">            
            <input type="text" class="form-control" id="email"
                placeholder="Insira o email" formControlName="email">
                
            <app-campo-control-erro
                [mostrarErro]="verificaRequired('email')"
                msgErro="O campo Email é obrigatório." >
            </app-campo-control-erro>
            
            <app-campo-control-erro
                [mostrarErro]="verificaEmail('email')"
                msgErro="Email inválido." >
            </app-campo-control-erro>

        </div>
    </div>    

    <button type="submit" class="btn btn-primary btn-rounded">Submit</button>
    <button class="btn btn-danger btn-rounded" (click)="resetar()">Cancelar</button>

    <app-form-debug [form]="formulario"></app-form-debug>

</form>