<p>Mais recomentado pela comunidade Angular por utilizar internamente Observables</p>
<hr/>

<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    
    <app-input-field formControlName="nome" 
        id="nome" label="Nome" placeholder="Nome componente generico"
        [control]="formulario.get('nome')" [classeCss]="aplicaCssErro('nome')" 
    >
    </app-input-field>

    
    <div class="form-group" [ngClass]="aplicaCssErro('nome')">
        <label for="nome" class="control-label">Nome</label>
        <input type="text" class="form-control" id="nome"
            placeholder="Nome" >
        
        <app-error-msg [control]="formulario.get('nome')" label="Nome">
        </app-error-msg>

    </div>    
    
    <div class="form-group" [ngClass]="aplicaCssErro('email')">
        <label for="email" class="control-label">Email</label>
        <input type="text" class="form-control" id="email"
        placeholder="Email" formControlName="email">
        
        <app-error-msg [control]="formulario.get('email')" label="Email">
        </app-error-msg>         

        <app-campo-control-erro
            [mostrarErro]="formulario.get('email').status ==='PENDING'"
            msgErro="Validando disponibilidade... ."
            css="info" >
        </app-campo-control-erro>

        <app-campo-control-erro
            [mostrarErro]="formulario.get('email').status ==='VALID'"
            msgErro="Email válido!" css="success"  >
        </app-campo-control-erro>
        
    </div>   
    
    <div class="form-group" [ngClass]="aplicaCssErro('confirmarEmail')">
        <label for="email" class="control-label">Confirmar email</label>
        <input type="text" class="form-control" id="confirmarEmail"
        placeholder="Confirme seu email" formControlName="confirmarEmail">
                        
        <app-error-msg [control]="formulario.get('confirmarEmail')" label="Confirmar email">
        </app-error-msg>
        
    </div>    
    

    <div formGroupName="endereco">
        
        <div class="form-row">
            <div class="form-group col-md-4" [ngClass]="aplicaCssErro('endereco.cep')">
                <label for="cep" class="control-label">CEP</label>
                <input type="text" class="form-control" id="cep"
                    placeholder="CEP" formControlName="cep">
                                    
                <app-error-msg [control]="formulario.get('endereco.cep')" label="CEP">
                </app-error-msg>
                
            </div>
        </div>
        
        <div class="form-row">

            <div class="form-group col-md-8" [ngClass]="aplicaCssErro('endereco.rua')">
                <label for="rua" class="control-label">Rua</label>
                <input type="text" class="form-control" id="rua" 
                    placeholder="Rua" formControlName="rua">
                            
                <app-error-msg [control]="formulario.get('endereco.rua')" label="Rua">
                </app-error-msg>
            </div>   
            
            <div class="form-group col-md-4" [ngClass]="aplicaCssErro('endereco.numero')">
                <label for="numero" class="control-label">Número</label>
                <input type="text" class="form-control" id="numero" 
                    placeholder="N°" formControlName="numero" >                    
                    
                <app-error-msg [control]="formulario.get('endereco.numero')" label="N°">
                </app-error-msg>
            </div>  
        </div>
                    
        <div class="form-row">
            <div class="form-group col-md-6" [ngClass]="aplicaCssErro('endereco.bairro')">   
                <label for="bairro" class="control-label">Bairro</label>
                <input type="text" class="form-control" id="bairro" 
                    placeholder="Bairro" formControlName="bairro">
                    
                <app-error-msg [control]="formulario.get('endereco.bairro')" label="Bairro">
                </app-error-msg>
            </div>
        
            <div class="form-group col-md-6" [ngClass]="aplicaCssErro('endereco.complemento')" >
                <label for="complemento" class="control-label">Complemento</label>
                <input type="text" class="form-control" id="complemento"
                    placeholder="Complemento" formControlName="complemento" >
                    
                <app-error-msg [control]="formulario.get('endereco.complemento')" label="Complemento">
                </app-error-msg>

            </div>
        </div>

        <div class="form-row">            
            <div class="form-group col-md-8" [ngClass]="aplicaCssErro('endereco.cidade')">
                <label for="cidade" class="control-label">Cidade</label>
                <input type="text" class="form-control" id="cidade" 
                    placeholder="Cidade" formControlName="cidade" >
        
                    <app-error-msg [control]="formulario.get('endereco.cidade')" label="Cidade">
                    </app-error-msg>
            </div>
               
            <div class="form-group col-md-4" [ngClass]="aplicaCssErro('endereco.estado')">     
                <label for="estado" class="control-label">Estado</label>
                <select type="text" class="form-control" id="estado" 
                    placeholder="Estado" formControlName="estado" >
                    <option *ngFor="let estado of estados | async"
                        [value]="estado.sigla">
                        {{ estado.sigla }}
                    </option>
                </select>
            
                <app-error-msg [control]="formulario.get('endereco.estado')" label="Estado">
                </app-error-msg>
            </div>  
        </div>       
    </div>

    <div class="form-row">
        <div class="form-group col-md-5">     
            <label for="cargo" class="control-label">Cargo</label>
            <select class="form-control" id="cargo" 
                formControlName="cargo" [compareWith]="compararCargos" >
                <option *ngFor="let cargo of cargos" [ngValue]="cargo">
                    {{ cargo.desc }}
                </option>
            </select>
        </div>  

        <div class="form-group col-md-5">     
            <label for="tecnologias" class="control-label">Tecnologias</label>
            <select multiple class="form-control" id="tecnologias" 
                formControlName="tecnologias" >
                <option *ngFor="let tech of techs" [value]="tech.nome">
                    {{ tech.desc }}
                </option>
            </select>
        </div> 

        <!-- Bool Switch-->
        <div class="form-group col-md-2">
            <label class="control-label">Newsletter</label> <br/>
            <div class="custom-control custom-radio custom-control-inline"
            *ngFor="let item of newsletterOp">
                <input type="radio" id={{item.valor}} formControlName="newsletter"
                    class="custom-control-input" [value]="item.valor" />
                <label class="custom-control-label" for="{{item.valor}}"> {{ item.desc}} </label>
            </div>            
        </div>     
    </div>
   
    <div class="form-row">
        <div class="form-group custom-control custom-checkbox" [ngClass]="aplicaCssErro('termos')">
            <input type="checkbox" class="custom-control-input" id="termos" formControlName="termos">
            <label class="custom-control-label" for="termos"> Aceito os termos</label>
            
            <app-error-msg [control]="formulario.get('termos')" label="Termos">
            </app-error-msg>
        </div>  
    </div>

    <div class="form-row">
        <div class="form-group" [ngClass]="aplicaCssErro('frameworks')">
            <div class="custom-control custom-checkbox custom-control-inline" 
                formArrayName="frameworks"
                    *ngFor="let item of frameworks;let i=index;" >
                    <input type="checkbox" formControlName="{{i}}" class="custom-control-input" id="{{ i }}">
                    <label class="custom-control-label" for="{{ i }}">{{ frameworks[i] }}</label>
            </div>
            
            <app-campo-control-erro
                [mostrarErro]="formulario.get('frameworks').invalid"
                msgErro="Selecione pelo menos 2 opções." >
            </app-campo-control-erro>

        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-rounded">Submit</button>
    <button class="btn btn-danger btn-rounded" (click)="resetar()">Cancelar</button>
    <button class="btn btn-success btn-rounded" (click)="setarCargo()">Cargo</button>
    <button class="btn btn-info btn-rounded" (click)="setarTecnologias()">Tecnologias</button>

    <app-form-debug [form]="formulario"></app-form-debug>

</form>