
   <!--
<section class="property-data-binding">
    <article>
        <h3>Aula 09 - Interpolação</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p> Resultado de 1 + 1 = <b>{{ 1 + 1 }}</b></p>
        <p> Resultado de 1 + 1 != <b>{{ 1 + 1 + getValor() }}</b></p>
        <p> Curso Angular e gosto do curso: <b> {{ cursoAngular && getCurtirCurso() }}</b></p>
        <img src="{{ urlImagem }}">        
    </article>
    
    <hr/>
    <br/>
    <article>
        <h3> Aula 09 - Property Binding</h3> 
        <img [src]="urlImagem" [attr.colspan]="2">     
        <img bind-src="urlImagem" alt=""> 
    </article>
</section>

<section class="property-data-binding">
    <article>
        <h3> Aula 10 - Class Binding</h3> 

        <div>
            Selecione uma classe:
            <select #classe (change)="0" class="form-control select2" data-toggle="select2">
                <option value="">Choose</option>
                <option value="alert-primary">Primary</option>
                <option value="alert-success">Success</option>
                <option value="alert-danger">Danger</option>
                <option value="alert-warning">Warning</option>
                <option value="alert-info">Info</option>
            </select>

            <br/>
            <div class="alert {{ classe.value }}" role="alert">
                Texto colorido conforme o valor do combobox.
            </div>

            <div class="alert" role="alert"
               [class.alert-primary]="classe.value == 'alert-primary'" >
                A simple primary alert—check it out!
              </div>

              <div class="alert" role="alert"
                [class.alert-success]="classe.value == 'alert-success'" >
                A simple success alert—check it out!
              </div>

              <div class="alert" role="alert"
                [class.alert-danger]="classe.value == 'alert-danger'" >
                A simple danger alert—check it out!
              </div>
              
              <div class="alert" role="alert"              
                [class.alert-warning]="classe.value == 'alert-warning'" >
                A simple warning alert—check it out!
              </div>
              
              <div class="alert" role="alert"             
                [class.alert-info]="classe.value == 'alert-info'" >
                A simple info alert—check it out!
              </div>
              
              <br>

              <p>Aula 10 - Style Binding <small><i>[mostrando apenas no danger]</i></small></p>
              <div class="alert alert-danger" role="alert"             
                [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' " >
                    Style Binding !!!
              </div>
        </div>
    </article>
</section>

<section class="property-data-binding">
    <article>
        <h3>Aula 11 - Event Binding</h3>        

        <div>
            <button type="button" (click)="botaoClicado()"
                class="btn btn-outline-info btn-rounded">
                Me clique!
            </button>
        </div>
        
        <br/>
        <div>

            <input type="text" class="form-control"
                (keyup)="onKeyUp($event)" 
                (keyup.enter)="salvarValor(campoInput.value)"
                (blur)="salvarValor(campoInput.value)" 
                #campoInput />
            
            <p>Valor atual: <b> {{ valorAtual }}</b></p>
            <p>Valor salvo: <b> {{ valorSalvo }}</b></p>
        
            <br>

            <span
                (mouseover)="onMouseOverOut()"
                (mouseout)="onMouseOverOut()"
                [class.font-weight-bold]="isMouseOver"
                [class.text-danger]="isMouseOver"
                [class.text-uppercase]="isMouseOver"
                > Passe o mouse sobre mim </span>
        </div>

    </article>
<section>

<app-meu-form></app-meu-form>

-->

<section class="property-data-binding">
    <article>
        <h3>Input Properties</h3>
        
        <app-curso [nomeCurso]="nomeCurso"></app-curso>
        <app-curso [nome2]="nomeDoCurso2"></app-curso>
        <app-curso [nome3]="nomeDoCurso3"></app-curso>

        <h3>Output Properties</h3>
        
        <app-contador [valor]="valorInicial" 
            (mudouValor)="onMudouValor($event)"
        ></app-contador>
    </article>
</section>

