<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-horizontal">
    
    <!--
    <em>[(ngModel)] TWO-WAY-DATABIND É para quando necessito atualizar o valor</em>
    <br/>
    <br/>
-->
    <div class="form-row">
        <div class="form-group col-md-12" [ngClass]="aplicaCssErro(nome)">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" required min="3"
                placeholder="Insira o nome" name="nome" [(ngModel)]="usuario.nome"
                #nome="ngModel">
            
            <app-campo-control-erro
                [mostrarErro]="verificaRequired(nome)"
                msgErro="O campo Nome é obrigatório." >
            </app-campo-control-erro>
        </div>    
    </div>    

    <div class="form-row">
        <div class="form-group col-md-12" [ngClass]="aplicaCssErro(email)">          
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" 
                placeholder="nome@email.com" name="email"  [(ngModel)]="usuario.email"
                required email #email="ngModel" >            
                
            <app-campo-control-erro
                [mostrarErro]="verificaRequired(email)"
                msgErro="O campo Email é obrigatório." >
            </app-campo-control-erro>
            
            <app-campo-control-erro
                [mostrarErro]="verificaValidAndTouchedOrDirty(email) && email.errors.email"
                msgErro="Email inválido.">
            </app-campo-control-erro>

        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4" [ngClass]="aplicaCssErro(cep)">
            <label for="cep">CEP</label>
            <input type="text" class="form-control" id="cep" required
                placeholder="Insira o CEP" name="cep" [(ngModel)]="usuario.cep"
                #cep="ngModel" >
                                    
            <app-campo-control-erro
                [mostrarErro]="verificaRequired(cep)"
                msgErro="O campo CEP é obrigatório." >
            </app-campo-control-erro>
        </div>    
    </div>

    <div class="form-row">
        <div class="form-group col-md-6"[ngClass]="aplicaCssErro(rua)">
            <label for="rua">Rua</label>
            <input type="text" class="form-control" id="rua" required
                placeholder="Insira a rua" name="rua" [(ngModel)]="usuario.rua"
                #rua="ngModel" >
                        
            <app-campo-control-erro
                [mostrarErro]="verificaRequired(rua)"
                msgErro="O campo Rua é obrigatório." >
            </app-campo-control-erro>
        </div>   
                
        <div class="form-group col-md-2" [ngClass]="aplicaCssErro(numero)">
            <label for="numero">Número</label>
            <input type="text" class="form-control" id="numero" required
                placeholder="N°" name="numero" [(ngModel)]="usuario.numero"
                #numero="ngModel" >                     
                
            <app-campo-control-erro
                [mostrarErro]="verificaRequired(numero)"
                msgErro="O campo Número é obrigatório." >
            </app-campo-control-erro>
        </div>  

        <div class="form-group col-md-4">        
            <label for="complemento">Complemento</label>
            <input type="text" class="form-control" id="complemento"
                placeholder="Insira o complemento" name="complemento" [(ngModel)]="usuario.complemento"
                #complemento="ngModel" >                     
        </div>   

    </div>

    <div class="form-row">
        <div class="form-group col-md-8" [ngClass]="aplicaCssErro(cidade)">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control" id="cidade" required
                placeholder="Insira a cidade" name="cidade" [(ngModel)]="usuario.cidade"
                #cidade="ngModel" >

                <app-campo-control-erro
                    [mostrarErro]="verificaRequired(cidade)"
                    msgErro="O campo Cidade é obrigatório." >
                </app-campo-control-erro>
        </div>    
        
        <div class="form-group col-md-4" [ngClass]="aplicaCssErro(estado)">
            <label for="estado">Estado</label>
            <input type="text" class="form-control" id="estado" required
                placeholder="Insira o estado" name="estado" [(ngModel)]="usuario.estado"
                #estado="ngModel" >

                <app-campo-control-erro
                    [mostrarErro]="verificaRequired(estado)"
                    msgErro="O campo Estado é obrigatório." >
                </app-campo-control-erro>
        </div>    
    </div>

    <button type="submit" class="btn btn-primary btn-rounded"
        [disabled]="!f.valid">Submit</button>

        <app-form-debug [form]="f"></app-form-debug>
    <!--
    <br/>
    <hr>
    <em>[ngModel] Property Binding é para quando necessito SOMENTE INICIALIZAR o campo com um valor que NÃO SERÁ ATUALIZADO</em>
    <br/>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome2" 
            placeholder="Insira o nome" name="nome2" [ngModel]="usuario.nome2">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email2" 
            placeholder="nome@email.com" name="email2"  [ngModel]="usuario.email2">
    </div>
       --> 
</form>