<p fundoAmarelo>
    Texto com fundo amarelo.
</p>

<p>
    <button fundoAmarelo>
        Botão com fundo amarelo
    </button>
        
    <br />
    Obs.: O fundo amarelo está sendo aplicado somente no botão porque coloquei a tag button no seletor da diretiva button[fundoAmarelo]
    
</p>


<p highlightMouse>
    Texto com highlight quando passo mouse.
</p>

<p [highlight]="'red'" [defaultColor]="'grey'">

    // Diretiva e Input propert com o mesmo nome
    Texto com highlight com cores customizadas.
</p>

<div *ngIf="mostrarCursos">
    Lista de cursos aqui.
</div>
<div *ngElse="mostrarCursos" class="text-danger font-weight-bold">
    Não existem cursos para serem listados.
</div>

<br>
<button (click)="onMostrarCursos()">
    Mostrar/Esconder cursos
</button>

<ng-template [ngElse]="mostrarCursos">
    <div class="text-danger font-weight-bold">
        Não existem cursos cadastrados. [ngElse]
    </div>
</ng-template>

<p>
    <br>
    Não funcionou com template tem que ser ng-template, por causa da versão do 
        Angular que estou utilizando.    
</p>

<ul>
    <li>Angular CLI: 10.0.7</li>
    <li>Node: 12.18.3</li>
    <li>Angular: 10.0.14</li>
</ul>

