<!--
<app-data-binding></app-data-binding> 

<app-diretiva-ngif></app-diretiva-ngif>

<app-diretiva-ngswitch></app-diretiva-ngswitch>

<app-diretiva-ngfor></app-diretiva-ngfor>

<app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
<button (click)="mudarValor()" class="btn btn-primary"> Mudar Valor</button>

<button (click)="destruirCiclo()" class="btn btn-danger"> Deletar Ciclo</button>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<app-diretiva-ngif></app-diretiva-ngif>

<app-diretiva-ngclass></app-diretiva-ngclass>

<app-diretiva-ngstyle></app-diretiva-ngstyle>


<app-exemplo-ng-content>
    Conteúdo passado para o componente.
</app-exemplo-ng-content>

<app-operador-elvis></app-operador-elvis>

<app-exemplo-ng-content>
    <div class="info">Info</div> 
    <div class="titulo">ng-content</div> 
    <div class="corpo">Conteúdo passado para o componente.</div> 
    <div class="corpo">Conteúdo passado para o componente 2.</div> 
</app-exemplo-ng-content>

<app-diretivas-customizadas></app-diretivas-customizadas>


<app-criar-curso></app-criar-curso>
<br><br>
<app-cursos></app-cursos>

<app-exemplos></app-exemplos>
-->
<!-- Compiled and minified CSS -->

<nav>
    <div class="nav-wrapper">
      <a routerLink="" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li routerLinkActive="active"><a [routerLink]="['/login']"> Login</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/courses']" [queryParams]="{p:1}" >Courses</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/course',idCurso.value]" >Course com ID</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/alunos']" >Alunos</a></li>
      </ul>
    </div>
</nav>

<div class="container">
  <p>Entre com o ID do curso</p>
  <input #idCurso>
    <router-outlet></router-outlet>
</div>
