
<h5>Exemplos Pipe</h5>

//A ordem de execução dos Pipes é a mesma ordem da declaração

<p> Titulo: {{ livro.titulo | uppercase | lowercase | camelCase }}</p> 
<p> Estrelas: {{ livro.avaliacao | number: '2.3' }}</p>
<p> Páginas: {{ livro.numeroPaginas | number }}</p>
<p> Preço: {{ livro.preco | currency: 'BRL' }}</p>
<!--
    <p> Data Lançamento: {{ livro.dataLancamento | date: 'dd/MMM/yyyy' }}</p>
-->
<p> Data Lançamento: {{ livro.dataLancamento | date }}</p>
<p> Url: {{ livro.url }}</p>
<br>
<p> Livro: {{ livro | json }}</p>

<br>
<h4>Filtros Pipe</h4>
<ul>
    <em>NÃO FAÇA FILTRO DE ARRAY DESSA FORMA EM PRODUÇÃO.
        ISSO É APENAS EXEMPLO DIDÁTICO! [ngFor="let liv of livros | filtroArray]
    </em>
    <br>
    <br>
    <input type="text" [(ngModel)]="filtro" placeholder="Filtro">
    
    <input type="text" #novoValor placeholder="Curso">
    <button (click)="addLivro(novoValor.value)">Add Livro</button>

    <li *ngFor="let liv of livros | filtroArray:filtro">
        {{ liv }}
    </li>
</ul>